<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    {% seo %}

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="highlight.css">
    <style>
        body {
            color: rgb(36, 41, 46);
        }

        @media (prefers-color-scheme: dark) {
            body {
                background:  #333;
                color: white;
            }

            code {
                background-color: #222;
            }
        }
    </style>
</head>

<body>
    <main class="wrapper">
        <div class="container">
            {{ content }}
        </div>
    </main>
</body>

</html>